@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Source+Sans+3:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /* bullets points will be none */

}

nav{
    background-color: #441544;
    justify-content: center;
    font-weight:bold;
    color: white;
    height: 75px;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family:'Source Sans 3', sans-serif;
}

/* nav ul{
    list-style-type: none;
} */

.gameContainer{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Source Sans 3', sans-serif; 
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(213, 154, 224);
}

.info{
    font-size: 22px;
}

.gameInfo{
    padding: 0 125px; /* padding andar se milti h aur margin bahar se */
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

/* this is class boder right 0 and so on */
.br-0{
    border-right: 0;
}
.bl-0{
    border-left-width: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px ;
    padding: 1px 18px;
    background: rgb(179, 151, 179);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: rgb(146, 126, 146);
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}

.foot{
    margin-top: 34px;
    
}
footer{
    overflow: hidden;
    background-color: grey;
    margin: 0px;
    flex: auto;
}
footer a{
    display: block;
    color: white;
    text-decoration: none; 
    padding: 14px;
    float: left;
}
.copyright{
    float: right;
}